/* font-family settings */
@font-face {
  font-family: "NanumSquareB";
  src: url("../fonts/NanumSquareB.eot");
  src: local("NanumSquareB"), url("../fonts/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareR";
  src: url("../fonts/NanumSquareR.eot");
  src: local("NanumSquareR"), url("../fonts/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: url("../fonts/NanumSquareRoundB.eot");
  src: local("NanumSquareRoundB"), url("../fonts/NanumSquareRoundB.woff") format("woff"), url("../fonts/NanumSquareRoundB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../fonts/NanumSquareRoundR.eot");
  src: local("NanumSquareRoundR"), url("../fonts/NanumSquareRoundR.woff") format("woff"), url("../fonts/NanumSquareRoundR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumDaSiSiJagHae";
  src: url("../fonts/NanumDaSiSiJagHae.eot");
  src: local("NanumDaSiSiJagHae"), url("../fonts/NanumDaSiSiJagHae.woff") format("woff"), url("../fonts/NanumDaSiSiJagHae.ttf") format("truetype");
}
/* basic element form settings */
button:hover {
  opacity: 0.7;
}

li, ul {
  list-style: none;
  display: inline-block;
}

body {
  margin: 10px;
  background-image: url(/img/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 800px;
  background-color: white;
  color: black;
}
body .container {
  background-image: url(/img/bg_paper_11.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-color: rgb(235, 235, 220);
  width: 800px;
  min-width: 750px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  padding: 30px 0 10px;
}
body .container .logo {
  margin: 40px 60px 20px;
}
body .container .input-area {
  margin: 10px 60px 0px;
  display: flex;
  justify-content: end;
  height: 100px;
}
body .container .input-area input {
  font-family: "NanumDaSiSiJagHae";
  font-size: 30px;
  font-weight: 800;
  height: 65px;
  line-height: 55px;
  letter-spacing: 2px;
  min-width: 50%;
  position: relative;
  border: solid 3px #929292;
  border-radius: 20px;
  padding-left: 20px;
}
body .container .input-area input::-moz-placeholder {
  color: rgb(156, 156, 156);
  font-family: "NanumDaSiSiJagHae";
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
}
body .container .input-area input::placeholder {
  color: rgb(156, 156, 156);
  font-family: "NanumDaSiSiJagHae";
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
}
body .container .input-area .btn-add {
  margin-top: 50px;
  position: relative;
  background: none;
  width: 65px;
  height: 65px;
  border: none;
}
body .container .input-area .btn-add::before {
  content: "";
  position: absolute;
  background: url(/img/img_btn_add.png) no-repeat 0 0;
  width: 61px;
  height: 80px;
  bottom: 50px;
  left: 5px;
}
body .container .task-tabs {
  padding-top: 5px;
}
body .container .task-tabs ul {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 40px;
}
body .container .task-tabs ul li {
  font-family: "NanumDaSiSiJagHae";
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 5px 10px;
  width: 9%;
  min-width: 100px;
  border-radius: 10px 10px 0 0;
}
body .container .task-tabs ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}
body .container .task-tabs ul .tabs-selected {
  background-color: #ffffff;
  border-bottom: solid 6px lightblue;
}
body .container .task-list {
  min-height: 50vh;
  margin: 50px 40px 60px;
}
body .container .task-list .task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 10px;
  gap: 30px;
  vertical-align: middle;
}
body .container .task-list .task-card .checkBtn {
  background: none;
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
}
body .container .task-list .task-card .checkBtn::before {
  content: "";
  position: absolute;
  background: url(/img/img_checkbox_1.png) no-repeat;
  width: 46px;
  height: 51px;
  top: 0;
  left: 0;
}
body .container .task-list .task-card .task-items {
  width: 100%;
  min-width: 550px;
  height: 60px;
  line-height: 60px;
  padding: 0 20px 0;
  border-radius: 10px;
  position: relative;
  font-family: "NanumDaSiSiJagHae";
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #5e5e5e;
}
body .container .task-list .task-card .task-items::before {
  position: absolute;
  content: "";
  background: url(/img/img_under_1.png) no-repeat;
  background-size: contain;
  width: 550px;
  height: 20px;
  bottom: -10px;
  left: 0px;
}
body .container .task-list .task-card .task-done {
  text-decoration: line-through;
}
body .container .task-list .task-card .undoBtn {
  background: none;
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
}
body .container .task-list .task-card .undoBtn::before {
  content: "";
  position: absolute;
  background: url(/img/img_checkbox_1.png) no-repeat;
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
}
body .container .task-list .task-card .undoBtn::after {
  content: "";
  position: absolute;
  background: url(/img/img_check.png) no-repeat;
  background-size: 80%;
  width: 55px;
  height: 55px;
  top: -5px;
  left: 8px;
}
body .container .task-list .task-card .delBtn {
  background: none;
  position: relative;
  width: 50px;
  height: 50px;
  border: none;
}
body .container .task-list .task-card .delBtn::before {
  content: "";
  position: absolute;
  background: url(/img/img_btn_del.png) no-repeat;
  background-size: 70%;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.box0::before {
  background: url(/img/img_checkbox_1.png) no-repeat !important;
}

.box1::before {
  background: url(/img/img_checkbox_5.png) no-repeat !important;
}

.box2::before {
  background: url(/img/img_checkbox_2.png) no-repeat !important;
}

.box3::before {
  background: url(/img/img_checkbox_4.png) no-repeat !important;
}

.box4::before {
  background: url(/img/img_checkbox_3.png) no-repeat !important;
}

.under1::before {
  background: url(/img/img_under_1.png) no-repeat !important;
}

.under2::before {
  background: url(/img/img_under_2.png) no-repeat !important;
}

.under3::before {
  background: url(/img/img_under_3.png) no-repeat !important;
}

.under4::before {
  background: url(/img/img_under_4.png) no-repeat !important;
}

.under5::before {
  background: url(/img/img_under_5.png) no-repeat !important;
}