/* font-family settings */
@font-face {
  font-family: "NanumSquareB";
  src: url("../fonts/NanumSquareB.eot");
  src: local("NanumSquareB"), url("../fonts/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareR";
  src: url("../fonts/NanumSquareR.eot");
  src: local("NanumSquareR"), url("../fonts/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: url("../fonts/NanumSquareRoundB.eot");
  src: local("NanumSquareRoundB"), url("../fonts/NanumSquareRoundB.woff") format("woff"), url("../fonts/NanumSquareRoundB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../fonts/NanumSquareRoundR.eot");
  src: local("NanumSquareRoundR"), url("../fonts/NanumSquareRoundR.woff") format("woff"), url("../fonts/NanumSquareRoundR.ttf") format("truetype");
}
/* basic element form settings */
button:hover {
  opacity: 0.6;
}

body {
  margin: 0 10px 0;
  background-image: url(/img/bg_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
body h1 {
  font-family: "NanumSquareB";
  font-size: 3rem;
}

.container {
  background-color: white;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input-area {
  margin: 15px auto 25px;
}

.task-tabs {
  display: flex;
  position: relative;
  text-align: center;
}
.task-tabs div {
  padding: 1em;
  min-width: 120px;
  background-color: #e4e4e4;
  border: 1px solid lightgray;
  border-radius: 10px 10px 0 0;
}
.task-tabs div:hover {
  opacity: 0.6;
}
.task-tabs .tabs-selected {
  background-color: #ffffff;
  border-bottom: solid 4px lightblue;
}

.task-list {
  border: 1px solid lightgray;
  min-height: 80vh;
}
.task-list .task-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: solid 1px green;
}